.app {
  width: 50%;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: xx-large;
}

.navbar {
display: flex;
list-style-type: none;
justify-content: flex-start;
}

.navbar-item {
  text-decoration: none;
  padding: 0 30px;
}

a {
  padding: 20px 40px;
}

.form {
  width: 100%;
}

.addbar {
  width: 350px;
  height: 30px;
}

.add-btn {
  height: 35.2px;
  border-radius: 10px;
margin-left: 20px;
}

/* item */
.active {
opacity: 0.2;
}