.app {
   width: 400px;
   margin-left: auto;
   margin-right: auto;
   
}

.content {
  font-weight: 600;
}

.item {
border-left: 4px solid orange;
padding-left: 30px;
}

.author {
  width: 400px;
  border: none;
  height: 70px;
  text-align: left;
  background-color: #fff;
}

.tag {
  display: inline;
  padding-right: 8px;
}

.author:hover {
  background-color: gray;
  color: #fff;
  cursor: pointer;
}